
.navbar{
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  /* background-color: #5287a1; */
  background-color: #e2b454;
  border-bottom: 2px solid #151617;
  z-index: 9;

}

.text-logo{
  font-weight: 800;
  color: #5287a1;
  cursor: pointer;
  text-decoration: none;
}

main{
  min-height: 100vh;
}

.hero-section{
  display: grid;
  place-items: center;
  min-height: 50vh;
  padding: 2rem;
}

h1{
  color: #d1614b;
  text-shadow: 2px 2px 0 rgb(48, 8, 1);
  font-size: 3rem;
  line-height: 1;
  text-align: left;
  /* text-transform: uppercase; */
}

 .search-container{
  display: grid;
  grid-template-columns: 3fr 9fr;
  justify-content: center;
} 

.top-rated-container::after{
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  /* background: #d1614b; */
  z-index: -1;
}

.subtitle{
  margin-bottom: 2rem;
}

.card{
  border: 2px solid hsla(210, 5%, 9%);
  box-shadow:
  4px 4px hsla(210, 5%, 9%),
  3px 3px hsla(210, 5%, 9%),
  2px 2px hsla(210, 5%, 9%),
  1px 1px hsla(210, 5%, 9%);
  min-height: 180px;
  position: relative;
  cursor: pointer;
  transition: .35s;
  display: flex;
  overflow: hidden;
}

.shadow-to-right{
  border: 2px solid hsla(210, 5%, 9%);
  box-shadow:
  4px 4px hsla(210, 5%, 9%),
  3px 3px hsla(210, 5%, 9%),
  2px 2px hsla(210, 5%, 9%),
  1px 1px hsla(210, 5%, 9%);
}

.shadow-to-left{
  border: 1px solid hsla(210, 5%, 9%);
  box-shadow:
  /* -3px 3px hsla(210, 5%, 9%), */
  -2px 2px hsla(210, 5%, 9%),
  -1px 1px hsla(210, 5%, 9%);
}

.card-description{
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  padding: 5px;
  transform: translateY(0);
  transition: .3s ease-in;
}

.popular{
  background-color: #5287a1;
  background-color: #d1614b;
  background-color: #e2b454;
}

.top-rated{
  background-color: #5287a1;
}


.movie-title{
  font-size: 1rem;
}

.card img{
  width: 100%;
  max-height: 345px;
  object-fit: cover;
  /* min-height: 310px; */
  transition: .3s ease-in;
}

aside{
  height: 100vh;
  position: sticky;
  top: 0;
}

.search-results{
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(120px, 250px));
  gap: 2rem;
}


@media only screen and (min-width: 768px){

  .section{
    margin-bottom: 5rem;
  }

}